*{
    color:#ffffff;
    font-family: 'Trebuchet MS','Lucida Sans Unicode','Lucida Grande', 'Lucida Sans',Arial,sans-serif;
}
body{
    background-color:#121213;
}
.game-container{
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title-container{
    text-align: center;
    width: 510px;
    border-bottom: solid 1px #3a3a3c;
}
.title-content{
    width: 330px;
    margin-bottom: 30px;
}
.key-container{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}
.key-container button{
    width: 43px;
    height: 58px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border:none;
    background-color: #818384;
    margin: 4px;
}
.key-container button:nth-child(11){
    margin-left: 30px;
}
.key-container button:nth-child(20),
.key-container button:nth-child(28){
    width: 68px;    
}

button:hover{
    transform:scale(1.1) translatey(-1px);
    -webkit-transform:scale(1.1) translatey(-1px);
    -moz-transform:scale(1.1) translatey(-1px);
    -ms-transform:scale(1.1) translatey(-1px);
    -o-transform:scale(1.1) translatey(-1px);
}
.tile-container .tile {
    width: 62px;
    height: 62px;
    border: 2px solid#3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}
.message-container{
    height: 30px;
}
.message-container p{
    background-color: #818384;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 10px;
    margin: 0;
}
.title.flex{
    animation: 0.5s linear flipping;
    -webkit-animation: 0.5s linear flipping;
}
@keyframes flipping {
        0%{
            transform: rotateX(0deg);    ;
            -webkit-transform: rotateX(0deg)    ;
            -moz-transform: rotateX(0deg)    ;
            -ms-transform: rotateX(0deg)    ;
            -o-transform: rotateX(0deg)    ;
    }
    50%{
            transform: rotateX(90deg);
            -webkit-transform: rotateX(90deg);
            -moz-transform: rotateX(90deg);
            -ms-transform: rotateX(90deg);
            -o-transform: rotateX(90deg);
    } 
        0%{
            transform: rotateX(0deg);
            -webkit-transform: rotateX(0deg);
            -moz-transform: rotateX(0deg);
            -ms-transform: rotateX(0deg);
            -o-transform: rotateX(0deg);
    }
}
.grey-overlay{
    background-color: #3a3a3C !important;
    border:none !important;
}
.grey-overlay{
    background-color:#b59f3a  !important;
    border:none !important;
}
.grey-overlay{
    background-color: #538d4e !important;
    border:none !important;
}
